body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
}

a {
    font-size: 18px;
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
